{:linters {:unresolved-symbol {:level :error}
           :unresolved-var {:level :error}
           :undeclared-var {:level :error}
           :unresolved-namespace {:level :error}
           :redefined-var {:level :error}}}
